* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  cursor: default;
  background-color: #F0F0F0;
  color: #1C1C1A;
  height: 100vh; /* Use viewport height instead of 100% to occupy full screen height */
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #154151;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);  /* optional drop shadow */
}

.logo-container img {
  height: 40px;
  width: auto;
  fill: white;
}

.pianoRollContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* align-items: center; */
  gap: 10px;
  width: 100%;
}

h1 {
  margin-bottom: 20px;
  font-size: 42px;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  color: #F0F0F0;
  background-color: #944038;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

button {
  /* ... existing button styles ... */
  border-bottom: 3px solid #381815;  /* A darker shade for 3D effect */
  position: relative;  /* Required for the top movement on hover */
  transition: all 1.1s ease;  /* Transition for all properties */
}

#buttonContainer {
  display: flex;
  justify-content: center;
}

button:hover {
  transform: scale(1.05);
}

.piano-roll-svg {
  border: 2px solid #381815;
}

.piano-roll-card {
  border: 1px solid #ccc;
  /* margin-bottom: 10px; */
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.description {
  margin-top: 10px;
}

.showCard {
  display: flex;
  flex-direction: column;
  flex: 30%;
}


.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}


.mainPiano {
  display: none;
}

.mainPiano.active {
  display: flex;
  flex: 70%;
  align-self: flex-start;
  width: 100%;
}

@media (max-width: 1000px) {
  .piano-roll-svg {
    width: 100%;
}
}

@media (max-width: 800px) {
  .pianoRollContainer {
    grid-template-columns: 1fr 1fr;
  }
  .piano-roll-svg {
    border: 2px solid #381815;
    width: 90%;
  }

  .container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  .piano-roll-svg {
    border: 2px solid #381815;
    width: 100%;
}
}

@media (max-width: 550px) {
  .pianoRollContainer {
    grid-template-columns: 1fr;
  }

  .piano-roll-svg {
    border: 2px solid #381815;
    width: 90%;
  }
}